.title {
   font-family: 'Roboto', sans-serif;
   border: 1px solid black;
   border-radius: 12px;
   width: 300px;
   padding: 16px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

#container {
   display: flex;
   flex-wrap: wrap;
   width: 1440px;
   margin: auto;
}

#container2 {
   display: flex;
   flex-wrap: wrap;
   width: 1440px;
   margin: auto;
}

#container > div {
   background-color: #CBCBCB;
   border-radius: 6px;
   font-family: 'Roboto', sans-serif;
   line-height: 4px;
   font-size: 20px;
   margin: 20px;
   padding: 20px;
   width: 39%;
   padding: 20px;
   margin: auto;
   margin-bottom: 25px;
   text-align: center;
}

#container2 > div {
   background-color: #CBCBCB;
   border-radius: 12px;
   font-family: 'Roboto', sans-serif;
   line-height: 30px;
   font-size: 24px;
   margin: 20px;
   padding: 20px;
   width: 30%;
   padding: 20px;
   margin: auto;
   margin-top: 40px;
   margin-bottom: 25px;
   text-align: center;
}

#container2 > div > div {
   background-color: #CBCBCB;
   text-align: center;
}


.grid {
   background-color: white;
   display: grid;
   padding: 20px 10px;
   border-radius: 6px;
   grid-column-gap: 2px;
   grid-row-gap: 2px;
   grid-template-columns: 30px repeat(8, 60px);
   grid-template-rows: 30px repeat(8, 60px);
}

.boat-list {
   margin-top: 20px;
}

.button-grid {
   padding: 10px;
}

.header-row {
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   padding: 20px 0;
}

.header-column {
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
}

.button-big {
   width: 200px;
   height: 50px;
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   font-weight: bold;
   border-radius: 23px;
   color: white;
   background-color: #77D6FF;
   outline: none;
   margin: 0 auto;
   display: block;
   margin-top: 25px;
   margin-bottom: 30px;
}

.button-big:hover {
    background-color: #3FC5FF;
}

.button-big:active {
   background-color: #1CBAFF;
}

.button-big:disabled {
   background-color: #FFFFFF;
}